{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'bakery_app/img/logo-bakery.png' %}" />
    <!--Tailwind css-->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      /* Add this CSS to your existing styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  min-height: calc(100vh - 100px); /* Adjust 100px according to your footer height */
  /* Your existing styles for content */
}

footer {
  width: 100%;
  height: 50px; /* Adjust according to your footer height */
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 100px;
}

    </style>


</head>
<body class="flex flex-col h-screen justify-between  bg-[#deb887] ">

    {% include 'components/header.html' %}
   

  
    {% block main %}



    
    {% endblock %}


  {% include 'components/footer.html' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>
</html>