{% extends 'components/base.html'%}

{% block title %}เกี่ยวกับเรา{% endblock %}
  
{% load static %}


{% block main %}

<body style="background-color: burlywood;">
    <img src="{% static 'bakery_app/img/logo-bakery.png' %}" class="w-[15pc] m-auto rounded-xl my-4">
    <div class="flex justify-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d481.4462191819491!2d104.85726375216377!3d15.127023101391565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTXCsDA3JzM3LjciTiAxMDTCsDUxJzI2LjEiRQ!5e0!3m2!1sth!2sth!4v1708951237470!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="rounded bg-amber-700 w-[37pc] py-4" style="margin: auto;">
        <p class="mb-auto text-center text-2xl text-yellow-400 font-semibold">อีเมล : aomwaw@hotmail.com </p>
        <p class="mb-auto text-center text-2xl text-yellow-400 font-semibold">facebook : Kru Waw </p>
        <p class="mb-auto text-center text-2xl text-yellow-400 font-semibold">เบอโทร : 084-605-6907 </p>
    </div>
</body>


  
  
{% endblock %}