{% extends 'components/base.html'%}

{% block title %}แสดงขนม{% endblock %}
  

{% block main %}

<body style="background-color: burlywood;"></body>
<div class="rounded-md m-auto p-10 shadow" style="background-color: blanchedalmond;">
    {% for b in bakeries %}
    <div>
        <img src="{{b.image.url}}" alt="product" style="height: 5cm; width: 5cm; margin: auto;" class="shadow-md">
        <br>
        <div class="text-bold text-xl">
            <p> {{ b.name }} </p>
            <p>ราคาชิ้นละ {{ b.price }} บาท</p>
            <p>จำนวนสูงสุด {{ b.amount }} ชิ้น</p>
        </div>
        <br>
        <a class="text-red rounded-full underline hover:text-gray-500" href="{%url 'cart_add' b.id %}">ใส่ตระกร้า</a>
    </div>
    {% endfor %}
</div>
</body>

{% endblock %}






    
