{% extends 'components/base.html'%}

{% block title %}แสดงขนม{% endblock %}
  



{% block main %}


<a href="/create_bakery/">Create</a>
    {% for b in bakeries %}
    <div>
        <ul>
            {% for bakery in bakeries %}
                <p>{{ bakery }}</p>
            {% endfor %}
        </ul>
        <a href="/update_bakery/{{b.id}}">UPDATE</a>
        <a href="/delete_bakery/{{b.id}}">DELETE</a>
    </div>
    {% endfor %}
    <a href="{% url 'index' %}">
        <p>Back to Index</p>
    </a>

  
  
{% endblock %}





    
