{% extends 'components/base.html'%}

{% block title %}แสดงขนม{% endblock %}
  



{% block main %}

{% if perms.admin %}

<a href="/create_bakery/">Create</a>
    {% for b in bakeries %}
    <div>
        <ul>
            {{b}}
        </ul>
        <a class="text-red" href="{%url 'cart_add' b.id %}">ใส่ตระกร้า</a>
        <a href="/update_bakery/{{b.id}}">UPDATE</a>
        <a href="/delete_bakery/{{b.id}}">DELETE</a>
    </div>
    {% endfor %}
    <a href="{% url 'index' %}">
        <p>Back to Index</p>
    </a>

{% else %}
<a href="/create_bakery/">Create</a>
    {% for b in bakeries %}
    <div>
        <ul>
            {{b}}
        </ul>
        <a class="text-red" href="{%url 'cart_add' b.id %}">ใส่ตระกร้า</a>
        <a href="/update_bakery/{{b.id}}">UPDATE</a>
        <a href="/delete_bakery/{{b.id}}">DELETE</a>
    </div>
    {% endfor %}
    <a href="{% url 'index' %}">
        <p>Back to Index</p>
    </a>
{% endif %}
  
{% endblock %}





    
